*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: url(../images/final_image.png);
  background-position: initial;
  background-size: cover;
  background-repeat: repeat;
}
.section-center {
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 30px;
  margin-top: 10rem;
  padding: 2rem;
  max-width: 30rem;
  box-shadow: 2px 7px 8px 3px rgb(50, 143, 159);
}
